<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="css/cerulean/bootstrap.min.css" rel="stylesheet" />
    <link href="_content/DevExpress.Blazor.Themes/bootstrap-external.bs5.css" rel="stylesheet" asp-append-version="true" />

    @DxResourceManager.RegisterScripts()
    <link href="css/site.css" rel="stylesheet" />
    <link href="CawoodClinic.Blazor.styles.css" rel="stylesheet" />
    <HeadOutlet @rendermode="@RenderModeForPage" />
</head>
<body>
    <Routes @rendermode="@RenderModeForPage"></Routes>
    <script src="_framework/blazor.web.js"></script>
    <script src="scripts/appscrips.js"></script>
</body>

</html>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? RenderModeForPage => HttpContext.Request.Path.StartsWithSegments("/Account")
        ? null
        : InteractiveServer;
}