.welcome {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

::deep .welcome-gridlayout {
    margin: auto;
    width: auto;
    height: auto;
}

::deep .welcome-gridlayout .dxbl-gridlayout-root {
    align-content: center;
    justify-content: center;
}

::deep .welcome-title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.welcome-title .welcome-title-header {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: center;
}

.welcome-title .welcome-title-content {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
}





    ::deep .icon-fill {
        fill: var(--bs-primary);
    }
